body{
    background-color: rgb(101, 84, 84);
    color: rgb(115, 109, 144); 
}

.box{
    
    text-align: center;
    align-items: center;
}
.main{
    box-shadow: inset;
    margin-top: 2em;
    display: inline-block;
    border-radius: 5%;
    text-align: center;
    background-color: rgb(217, 243, 173);
    width: 30em;
    height: 40em;
}
.nom{
    font-family: cursive;
    color: rgb(162, 162, 171);
}
.imgLogo{
    display: inline-block;
    margin-top: 0;
    width: 8em;
    height: 8em;
    border-radius: 50%;

}
.ismText{
    margin-top: 1em;
    text-align: left;
    
}
.ism{
    margin-bottom: 0.2em;
    margin-right: 1.95em;
    margin-top: 0;
    margin-left: 2em;
     display: inline-block;
    font-size: 1.2em;
   
    
}
.txtIsm{
    margin-bottom: 0.2em;
    margin-top: 0;
    display: inline-block;
    width: 25em;
    height: 2em;
}
.Fsm{
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    margin-top: 0;
    margin-left: 2em;
    font-size: 1.2em;
    display: inline-block;
}
.Esm{
    margin-bottom: 0.2em;
    margin-right: 1.1em;
    margin-top: 0;
    margin-left: 2em;
    font-size: 1.2em;
    display: inline-block;
}
.Tsm{
    margin-bottom: 0.2em;
    margin-right: 0.85em;
    margin-top: 0;
    margin-left: 2em;
    font-size: 1.2em;
    display: inline-block;
}
.Psm{
    margin-bottom: 0.2em;
    margin-right: 1.3em;
    margin-top: 0;
    margin-left: 2em;
    font-size: 1.2em;
    display: inline-block;
}
.Sh{
    margin-top: 0%;
    display: inline-block;
    margin-left: 8.5em;
    width: 1.2em;
    height: 1.2em;
    margin-bottom: 0;
}
.S{
    margin-top: 1em;
    display: inline-block;
}
.btn1{
    text-align: center;
}
.btn_itm{
    color: cornflowerblue;
    width: 10em;
    height: 2em;
}
.N{
    margin-top: 0em;
    display: inline-block;
    margin-left: 1em;
    width: 1.2em;
    height: 1.2em;
}
